ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: var(--neutral-dark);
  padding: 0;
}
ul.header li a {
  color: var(--neutral-light);
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.active {
  background-color: var(--accent);
}
