body {
  background-color: #ffcc00;
  padding: 20px;
  margin: 0;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
.content {
  background-color: #fff;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
