# node_modules
node_modules
backend/node_modules
frontend/node_modules
admin/node_modules

# .env
.env
admin/.env.*
frontend/.env.*

# build
admin/build
frontend/build

# backend
backend/db/database.sqlite