/* General styles */
html,
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root {
  min-height: 100vh;
}
html {
  font-size: var(--font-size-main);
}
body {
  margin: 0;
  padding: var(--padding-border);
  background: var(--neutral-medium-light);
  color: #333;
}
:root {
  --positive: #05c947;
  --negative: #d31212;
  --accent: #4990e2;
  --accent-dark: #2980b9;
  --accent-darker: #2c3e50;
  --accent-light: #dbe9fa;
  --accent-lighter: #ecf3fc;
  --neutral-dark: #111;
  --neutral-medium-dark: #686868;
  --neutral-medium-light: #eeeeee;
  --neutral-light: #ffffff;
}
/* .game-list-wrapper {
  padding: 16px 0;
  margin: 0 auto 0;
  max-width: 768px;
  background: var(--neutral-light);
  border-radius: 4px;
}
.game-list-form {
  margin-bottom: 32px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
}
.form-row + .form-row {
  margin-top: 18px;
}
.form-wrapper fieldset {
  padding: 0;
  margin: 0;
  width: 50%;
  border: 0;
}
.form-wrapper fieldset:first-child {
  padding-right: 4px;
}
.form-wrapper fieldset:last-child {
  padding-left: 4px;
}
.form-label {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  color: var(--neutral-medium-dark);
}
.form-input {
  padding: 8px;
  width: 100%;
  font-size: 14px;
  border: 1px solid var(--neutral-medium-light);
  border-radius: 4px;
  transition: border-color 0.25s ease-out;
}
.form-input:focus {
  border-color: var(--accent);
  box-shadow: 0 0 2px var(--accent);
  outline: 0;
}
.btn {
  display: block;
  border: 0;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.btn-add {
  padding: 12px 18px;
  margin: 12px auto 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--neutral-light);
  background-color: var(--accent);
  border-radius: 4px;
}
.btn-add:hover {
  background-color: var(--accent-dark);
}
.btn-add:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-add.btn-selected {
  background-color: var(--positive);
}
.btn-add.btn-forbidden {
  background-color: var(--negative);
}
.container {
  overflow: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table-body {
  background: var(--accent-light) none repeat scroll 0 0;
}
.table-head-item {
  padding: 6px 12px;
  width: 20%;
  font-size: 12px;
  font-weight: 500;
  color: var(--neutral-medium-dark);
  text-align: right;
  text-transform: uppercase;
}
.table-row:nth-child(even) {
  background: var(--accent-lighter) none repeat scroll 0 0;
}
.table-item {
  overflow: hidden;
  padding: 12px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  text-overflow: ellipsis;
}
.table-head-item:not(:first-child):not(:last-child),
.table-item:not(:first-child):not(:last-child) {
  text-align: left;
}
.table-item:first-child {
  width: 5%;
}
.table-item:nth-child(2) {
  width: 30%;
}
.table-item:nth-child(3) {
  width: 25%;
}
.table-item:nth-child(4) {
  width: 10%;
}
.table-item:nth-child(5) {
  width: 10%;
}
.table-item:last-child {
  width: 10%;
  min-width: 100px;
}
.table-row--active {
  font-size: 30px;
  color: var(--neutral-light);
  background: var(--accent-dark);
}
.table-item.win {
  background-color: var(--positive);
}
.table-item.lose {
  background-color: var(--negative);
}
.table-item.tie {
  background-color: var(--neutral-medium-dark);
} */
